.container {
    padding-top: 2.5rem;
}

.paragrafoRodape {
    color: var(--branco);
    background-color: var(--preto);
    padding: 1.5rem 3rem;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    text-align: center;
}

@media screen and(min-width: 768px) {
    .container {
        padding: 2.5rem;
    }
}