.container {
    display: inline-block;
    text-decoration: none;
    padding: 0;
    border: none;
    cursor: pointer;
}


.titulo {
    color: var(--branco);
    background-color: var(--preto);
    padding: .5rem 1rem;
    text-align: center;
    margin-top: -2.5px;
}