.formContainer {
    border: 1px solid var(--preto);
    padding: 1.5rem 1rem;
    text-align: center;
    width: 321px;
    margin: 2.5rem auto 0 auto;
}

.formLabel {
    font-size: 1rem;
    line-height: 1.4375rem;
}

.inputForm {
    padding: 8px 15px;
    border: 1px solid var(--preto);
    border-right: none;
    font-size: 1rem;
    height: 38px;
    outline: none;
    width: 205px;
    margin-top: 1.5rem;
}

.formButton {
    color: var(--branco);
    background-color: var(--violeta);
    border: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 9px 18px;
    height: 38px;
    transition: all 400ms ease-in-out;
}

.formButton:hover {
    cursor: pointer;
    opacity: .7;
}

.msgError {
    margin-top: .25rem;
    text-align: start;
    padding: .5rem;
    display: block;
    color: red;
    font-size: .75rem;
    background-color: #dfaeae;
    width: 100%;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .formContainer {
        padding: 2.5rem 4.5rem;
        width: 690px;
    }

    .formLabel {
        font-size: 1.25rem;
    }

    .inputForm {
        width: 357px;
    }

    .msgError {
        width: 440px;
        margin: .25rem auto 0 auto;
    }
}

@media screen and (min-width: 1080px) and (max-width: 1440px) {
    .formContainer{
        padding: 40px;
        width: 697px;
    }

    .formLabel > span {
        font-weight: 700;
    }
}